[submodule "externals/RoccoR"]
	path = externals/RoccoR
	url = ../../akhukhun/roccor.git
[submodule "externals/HiggsAnalysis/CombinedLimit"]
	path = externals/HiggsAnalysis/CombinedLimit
	url = https://github.com/cms-analysis/HiggsAnalysis-CombinedLimit.git
